/* TODO */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-family: 'Poppins', sans-serif;
}

a {
    text-decoration: none;
    /* color: #38B6FF; */
    color: black;
    padding: 10px 10px
}

pre {
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    text-align: center;
}

.container {
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}

.row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

/* ENCABEZADO */

.header {
    /* background: radial-gradient(#fff, #d4ecfa); */
    background-color: black;
}

.header a {
    color: white;
}


/* BARRA DE NAVEGACIÓN */

.navbar {
    display: flex;
    align-items: center;
    padding: 10px;
    
}

nav {
    flex: 1;
    text-align: center;
}

nav ul {
    display: inline-block;
    list-style-type: none;
    font-weight: bold;
}


nav ul li {
    display: inline-block;
   
}

.name {
    /* background: radial-gradient(#fff, #d4ecfa); */
    background-color: rgb(248, 248, 248);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 10px 0;
}

/* .name h1 {
    text-align: left;
} */

p {
    color: #38B6FF;
}

/* BARRA DE NAVEGACIÓN IZQ*/

.left-nav {
    width: 200px; 
    height:500px;
    background-color: black; /* Background color for the navbar */
    color: white; /* Text color for the navbar */
    box-sizing: border-box;
    float: left;
}

.left-nav a {
    display: block;
    color: white;
    text-decoration: none;
    margin-bottom: 10px; /* Adjust the spacing between links */
}

.content {
    flex-grow: 1;
    padding: 20px;
}



/* PIE DE PÁGINA */

.footer {
    background: black;
    color: white;
    font-size: 14px;
    padding: 60px 0 20px;
    text-align: center;
}

.footer:p {
    color: #38B6FF;
}

.footer h3 {
    color: white;
    margin-bottom: 20px;
}

.footer-col-1, .footer-col-2 {
    min-width: 250px;
    margin-bottom: 20px;
} 

.footer-col-2 ul {
    list-style-type: none;
}

.footer a {
    color: white;
    text-decoration: none;
} 



.columns-col-2 img {
    height: 200px;
    width: 200px;
}

